{
  "root": true,
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react", "@babel"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "commonjs": true,
    "node": true,
    "jest": true
  },
  "parser": "@babel/eslint-parser",
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/prop-types": "off",
    "react/no-find-dom-node": "off",
    "react/no-string-refs": "off",
    "strict": 0,
    "no-console": "off",
    "no-unused-vars": 1
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
