version: 2
jobs:
  # Build and deploy- Just for master
  build-and-deploy:
    docker:
      - image: circleci/node:lts
      
    working_directory: ~/repo

    steps:
      - checkout
      # Run install 
      - run: yarn install
      # Run lint
      - run: yarn lint
      # Run test
      - run: yarn test
      # Build 
      - run: yarn build-prod 
      # Check `rsync` 
      - run: which rsync || sudo apt-get update && sudo apt-get install -y rsync
      # Add to known hosts
      - run: mkdir -p ~/.ssh
      - run: echo $SSH_KNOWN_HOSTS | base64 -d >> ~/.ssh/known_hosts
      # rsync folder to remote machine
      - run: rsync --delete -avP --rsync-path="sudo -u www-data rsync" ./dist/ circleci@developers.italia.it:/apps/www/publiccode-editor.developers.italia.it/web/ 

  # Build and test - Just for dev versions
  build-and-test:
    docker:
      - image: circleci/node:lts
      
    working_directory: ~/repo

    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      # Run install 
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      # Run linter
      - run: yarn lint 
      # Run test
      - run: yarn test
      # Build 
      - run: yarn build 

workflows:
  version: 2
  continuous-deploy:
    jobs:
      - build-and-deploy:
          filters:
            branches:
              only:
                - master
      - build-and-test:
          filters:
            branches:
                ignore:
                 - master
