# Javascript Node CircleCI 2.1 configuration file
#
# Check https://circleci.com/docs/reference-2-1/#section=configuration for more details

version: 2.1

references:
  working_directory: /tmp/gh-pages

  load_image: &load_image
    docker:
      - image: circleci/node:lts

  install_dependencies: &install_dependencies
    run:
      name: install-dependencies
      command: |
        yarn install

  lint: &lint
    run:
      name: lint
      command: |
        yarn lint

  test: &test
    run:
      name: test
      command: |
        yarn test

  build: &build
    run:
      name: build
      command: |
        export ELASTIC_URL=$ELASTIC_URL_ENV
        export VALIDATOR_URL=$VALIDATOR_URL
        export VALIDATOR_REMOTE_URL=$VALIDATOR_REMOTE_URL
        yarn build-prod

  setup_ssh_gh_pages: &setup_ssh_gh_pages
    add_ssh_keys:
      fingerprints:
        # gh-pages deployment key from circle-ci config
        - 8d:51:1f:59:38:05:3b:37:34:96:11:c5:29:15:e7:5e

  # Renames the dist output folder to docs and
  # commits it the master branch.
  # [ci skip] has been added to avoid loops with CircleCI triggers
  deploy_gh_pages: &deploy_gh_pages
    run:
      name: deploy-gh-pages
      command: |
        rm -rf docs
        mv dist docs

        echo "publiccode-editor.developers.italia.it" > docs/CNAME

        git config --global user.email no-reply@teamdigitale.governo.it
        git config --global user.name "Deploy Bot"

        if [[ $(git status -s | wc -l | awk '{print $1}') -gt 0 ]]; then
          git add docs
          git commit -m "Automated deployment to GitHub Pages: ${CIRCLE_SHA1} [ci skip]"
          git push origin $CIRCLE_BRANCH
        fi

  # In order to use this, the integration needs to be
  # setup first under CircleCI app directory and a
  # SLACK_WEBOOK environment variable needs to be set
  # in the project settings
  notify_on_failure: &notify_on_failure
    slack/status:
      fail_only: true
      only_for_branches: master

jobs:
  build-and-test:
    <<: *load_image
    steps:
      - checkout
      - << : *install_dependencies
      - << : *lint
      - << : *test
      - << : *build
      - << : *notify_on_failure

  build-and-deploy-gh-pages:
    <<: *load_image
    steps:
      - checkout
      - << : *install_dependencies
      - << : *lint
      - << : *test
      - << : *build
      - << : *setup_ssh_gh_pages
      - << : *deploy_gh_pages
      - << : *notify_on_failure

orbs:
  slack: circleci/slack@3.4.2

workflows:
  version: 2
  continuous-deploy:
    jobs:
      - build-and-test:
          filters:
            branches:
                ignore:
                 - master
      - build-and-deploy-gh-pages:
          filters:
            branches:
              only:
                - master
