$content-pad-horiz: 2em;
$content-head-h: 2rem;
$head-background-color: #fdfdfd;

.field_info {
  span {
    margin-right: 5px;
  }
}


.content__head {
  padding: 1.5rem $content-pad-horiz 2rem $content-pad-horiz;
  height: $content-head-h;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $head-background-color;
}

.content__head__title {
  color: #0066cc;
  font-family: "Titillium Web";
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.33px;
  line-height: 40px;
}

.content__head__help {
  margin: 10px 20px 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: right;

  a {
    text-align: right;
    color: #5c6f82;
    font-family: "Titillium Web";
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
  }
}

.content__head__status {
  align-self: flex-end;
  color: #adadad;
  font-family: "Titillium Web";
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  text-align: right;
}

.content__main {
  padding: 0 $content-pad-horiz;
  flex: 1;
  overflow: auto;
  top: 0;
  transition: top 0.8s ease 0s;
}

.content {
  display: flex;
  flex-direction: column;
  background: #fff;
  flex: 5 1 0;
  order: 0;
  position:relative;
}

.content__foot {
  padding: 0 $content-pad-horiz;
  height: $foot-bar-h;

  border-top: 1px solid #e8e8e8;
  margin-top: 20px;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.content__foot_item {
  text-align: center;
  button {
    margin: 0 20px;
  }
}

@media all and (max-width: $mq-size) {
  .content__head,
  .content__foot {
    min-height: 100px;
  }
}


.react-phone-number-input__input:focus {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #5ab2ff !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 116, 217, 0.25) !important;
}

.react-phone-number-input__icon {
  line-height: 0 !important;
}
