//EDITOR
.editor__widget{
  padding:0 10px;
}
.editor__toolbar {
  margin: 0 !important;
}
.editor__content {
  border-bottom: 1px solid #979797;
}
.has-error .editor__content {
  border-bottom: 1px solid #f83e5a;
}

.editor__wrapper , .editor__component  {
  border: none !important;
  margin: 0 !important;
  padding:0 !important;
}

.editor__component .public-DraftEditor-content {
  min-height: 300px;
  border-size: 0;
}

//override bottom border to 0px for
//react-widgets component
input.rw-widget-input {
  border: none !important;
}

.riuso-box {
  min-height: 300px;
}