 @import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
 @import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,700");
 @import url("https://fonts.googleapis.com/css?family=Lora:100,300,400,700");
 @import "./glyphicons/glyphicons.css";

 .system {
 	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
 }

 * {
 	font-family: "Titillium Web", "Roboto Mono", "system", sans-serif;
 }


/**
INFOBOX

 .info__box {
 	background-color: rgba(0, 0, 0, 0.3);
 	z-index: 10;
 	justify-content: center;
 	align-items: center;
 	width: 100%;
 	height: 100%;
 	position: absolute;
 	display: none;
 }

 .info__box.info__box__visible {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }

 .info__box__body {
 	position: relative;
 	width: 640px;
 	height: 400px;
 	max-width: 100%;
 	max-height: 100%;
 	background-color: #fff;
 	border: 3px solid #32d6d6;
 	overflow: auto;
 }

 .info__box__title {
 	color: rgba(0, 102, 204, 1);
 }

 .info__box__content {
 	padding: 40px;
 	font-size: 18px;
 	color: #5a768a;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 }

 .info__box__close {
 	display: flex;
 	flex-direction: row;
 	justify-content: flex-end;
 	align-items: flex-end;
 	text-align: right;
 	font-size: 14px;
 	margin: 10px;
 }

 */


 /**

 CLOSE BUTTON

 .close__button {
 	display: inline-block;
 	opacity: 0.5;
 	cursor: pointer;
 }

 .close__button:hover {
 	opacity: 1;
 }
*/

/**
EDITOR

 .editor__widget {
 	padding: 0 10px;
 }

 .editor__toolbar {
 	margin: 0 !important;
 }

 .editor__content {
 	border-bottom: 1px solid #979797;
 }

 .has-error .editor__content {
 	border-bottom: 1px solid #f83e5a;
 }

 .editor__wrapper,
 .editor__component {
 	border: none !important;
 	margin: 0 !important;
 	padding: 0 !important;
 }

 .editor__component .public-DraftEditor-content {
 	min-height: 300px;
 	border-size: 0;
 }

 input.rw-widget-input {
 	border: none !important;
 }

 .editor__component .public-DraftEditor-content {
 	word-break: break-all;
 }

 .rectangle-5-copy-34 {
 	height: 48px;
 	width: 186px;
 	background-color: #0073e6;
 }

 .editor_button {
 	display: flex;
 	overflow: hidden;
 	margin: 10px;
 	padding: 12px 12px;
 	height: 56px;
 	width: 172px;
 	cursor: pointer;
 	user-select: none;
 	transition: all 150ms linear;
 	text-align: center;
 	white-space: nowrap;
 	text-decoration: none !important;
 	text-transform: none;
 	text-transform: capitalize;
 	color: #fff;
 	background-color: #0073e6;
 	border: 0 none;
 	border-radius: 4px;
 	font-family: "Titillium Web";
 	font-size: 18px;
 	font-weight: bold;
 	line-height: 28px;
 	text-align: center;
 	-webkit-appearance: none;
 	-moz-appearance: none;
 	appearance: none;
 	justify-content: center;
 	align-items: center;
 	flex: 0 0 240px;
 	box-shadow: 2px 5px 10px var(--color-smoke);
 }

 .editor_button:hover {
 	transition: all 150ms linear;
 	background-color: #0059b3;
 	opacity: 0.85;
 }

 .editor_button:active {
 	transition: all 150ms linear;
 	opacity: 0.75;
 }

 .editor_button:focus {
 	outline: 0;
 	outline-offset: -4px;
 }

 .editor_button:disabled {
 	opacity: 0.5;
 	background-color: #0059b3;
 }

 .editor_button--primary {
 	color: #fff;
 	background-color: #0073e6;
 }

 .editor_button--primary:hover {
 	color: #fff;
 	background-color: #0059b3;
 	opacity: 1;
 }

 .editor_button--primary:active {
 	color: #fff;
 	background-color: #0059b3;
 	opacity: 1;
 }

 .editor_button--secondary {
 	border: 2px solid #0073e6;
 	background-color: #fff f;
 	color: #0073e6;
 }

 .editor_button--secondary:hover {
 	color: #0059b3;
 	background-color: #fff f;
 	opacity: 1;
 }

 .editor_button--secondary:active {
 	color: #0059b3;
 	background-color: #fff f;
 	opacity: 1;
 }

 .editor_button--quaternary {
 	height: 56px;
 	width: 242px;
 	border: 2px solid #e6e9f2;
 	background-color: #fcfdff;
 	color: #5c6f82;
 }

 .editor_button--quaternary:hover {
 	color: #38444f;
 	background-color: #fcfdff;
 	opacity: 1;
 }

 .editor_button--quaternary:active {
 	color: #38444f;
 	background-color: #fcfdff;
 	opacity: 1;
 }

 .editor_button--custom {
 	height: 56px;
 	width: 172px;
 	border: 0;
 	background-color: #fff;
 	color: #5c6f82;
 }

 .editor_button--custom:hover {
 	color: #38444f;
 	background-color: #fcfdff;
 	opacity: 1;
 }


 .has-error input[type="date"],
 .has-error input[type="datetime-local"],
 .has-error input[type="email"],
 .has-error input[type="number"],
 .has-error input[type="password"],
 .has-error input[type="search"],
 .has-error input[type="tel"],
 .has-error input[type="text"],
 .has-error input[type="time"],
 .has-error input[type="url"],
 .has-error input[type="date"],
 .has-error select.form-control,
 .has-error textarea.form-control {
 	border-bottom: 1px solid #f83e5a;
 }

 .control-label,
 .control-link,
 legend {
 	color: #5a768a;
 	font-weight: 400;

 	font-size: 18px;
 }

 legend {
 	padding: 0 10px !important;
 }

 .form-check-label {
 	color: #5a768a;
 	font-weight: 400;
 	display: block;
 	font-size: 16px;
 }

 .help-block,
 .help-block small,
 .help-block .form-text .text-muted {
 	font-size: 14px;
 	color: #5a768a;
 	font-weight: 400;
 	display: inline;
 }

 .has-error .help-block {
 	background-color: #f83e5a;
 	padding: 0px 12px;
 	color: #fff;
 }

 */
/**
NOTIFY

 .notify-container {
 	display: flex;
 	flex-direction: column;
 	flex-wrap: wrap;
 	justify-content: flex-end;
 	align-items: flex-start;
 	align-content: flex-start;
 	position: fixed;
 	top: 35px;
 	right: 30%;
 	z-index: 9000;
 }

 .notify-item {
 	width: 250px;
 	margin: 5px 10px;
 	color: #fff;
 	border-radius: 5px;
 	text-align: center;
 }

 .notify-item:hover {
 	opacity: 0.8;
 	box-shadow: 0 0 10px 0 #0f0f0f;
 }

 .notify-item>p {
 	margin: 10px;
 	opacity: 0.8;
 	text-align: center;
 }

 .notify-item.info {
 	background-color: rgba(0, 102, 204, 1);
 }

 .notify-item.success {
 	background-color: rgba(23, 23, 23, 0.9);
 }

 .notify-item.error {
 	background-color: #e80801;
 	color: #fff;
 }

 .notify-title {
 	font-weight: 700;
 } */

/**
WRAPPERS


 .wrapper {
 	margin: 0;
 	padding: 0;
 	display: flex;
 	flex-flow: row;
 	height: 100vh;
 	width: 100vw;
 	overflow: hidden;
 }

 .wrapper.loadingRemote {
 	filter: blur(8px);
 	-webkit-filter: blur(8px);
 }

 .d-flex.align-items-center.col-12.position-absolute.h-100 {
 	z-index: 9999;
 }

 .spinner-grow {
 	margin-left: 30px;
 	height: 10rem;
 	width: 10rem;
 }

 @media all and (max-width: 640px) {
 	.wrapper {
 		overflow: auto;
 		flex-flow: column;
 	}
 }

 */


/**
	CONTENT
*/
 .content__head {
 	padding: 1.5rem 2em 2rem 2em;
	height: 100%;
 	max-height: 10vh;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	background: #fdfdfd;
 }

 .content__head__title {
 	color: #06c;
 	font-family: "Titillium Web";
 	font-size: 2rem;
 	font-weight: bold;
 	letter-spacing: -0.33px;
 	line-height: 40px;
 }

 .content__head__help {
 	margin: 10px 20px 0;
 	height: 40px;
 	display: flex;
 	flex-direction: row;
 	align-items: flex-end;
 	justify-content: space-between;
 	text-align: right;
 }

 .content__head__help a {
 	text-align: right;
 	color: #5c6f82;
 	font-family: "Titillium Web";
 	font-size: 16px;
 	font-weight: bold;
 	line-height: 24px;
 	padding-left: 2rem;
 }

 .content__head__status {
 	align-self: flex-end;
 	color: #adadad;
 	font-family: "Titillium Web";
 	font-size: 12px;
 	font-weight: 300;
 	line-height: 16px;
 	text-align: right;
 }

 .content__main {
	width: 100%;
	/* background-color: #06c; */
 	padding: 0 2em;
 	overflow: auto;
	order: 0;
	flex: 6;
	min-height: 90vh;
 }

.content__sidebar {
	width: 100%;
	min-height: 90vh;
	/* background-color: yellow; */
	padding:1.5em;
	overflow: auto;
	order: 1;
	flex:2;
	min-width: 350px;
}

 .content {
	width: 100vw;
 	display: flex;
 	flex-direction: row;
 	order: 0;
 }

 .content__foot {
 	padding: 0 2em;
 	height: 100px;
 	border-top: 1px solid #e8e8e8;
 	margin-top: 20px;
 	display: flex;
 	align-items: center;
 	flex-direction: row;
 	justify-content: center;
 }

 .content__foot_item {
 	text-align: center;
 }

 .content__foot_item button {
  	margin: 0 20px;
 }

 @media all and (max-width: 640px) {
	.content{
		flex-direction: column;
	}
	.content__main{
		order: 1;
		flex: 1;
		min-height: 80vh;
	}
	.content__sidebar {
		order: 0;
		flex: 0;
		min-height: 250px;
	}
 }


 /**
	PHONE NUMBER INPUT



 .react-phone-number-input__input:focus {
 	color: #495057 !important;
 	background-color: #fff !important;
 	border-color: #5ab2ff !important;
 	outline: 0 !important;
 	box-shadow: 0 0 0 0.2rem rgba(0, 116, 217, 0.25) !important;
 }

 .react-phone-number-input__icon {
 	line-height: 0 !important;
 }
 */

/**
	LOADING
	 */

 .loading {
 	width: 40px;
 	fill: #06c;
 }

 /**
 PREVIEW
 */

 .preview {
 	background-color: #00264d;
 	color: #fff;
 	flex: 2 1 0;
 	height: 100%;
 	order: 3;
 	margin: 0;
 	padding: 0;
 	display: flex;
 	flex-direction: column;
 	justify-content: space-between;
 	overflow: hidden;
 	position: relative;
 }

 .preview__title {
 	padding: 1em;
 	font-size: 24px;
 	font-weight: bold;
 	line-height: 28px;
 }

 .preview__footer_item>.disabled {
 	cursor: not-allowed;
 }

 .preview__footer_item>a.disabled img {
 	display: none;
 }

 .preview__footer_item>a.disabled span {
 	color: #adb2b8;
 }

 .preview__info {
 	font-size: 14px;
 	line-height: 28px;
 	color: #fff;
 	margin-left: 20px;
 	opacity: 0.3;
 }

 .preview__prefooter {
 	z-index: 10;
 	position: absolute;
 	width: 100%;
 	padding: 0;
 	margin: 0;
 	background-color: rgba(0, 102, 204, 1);
 	color: #fff;
 	bottom: 0;
 	display: flex;
 	flex-direction: column;
 	justify-content: flex-end;
 	align-items: center;
 }

 .preview__prefooter img {
 	height: 16px;
 	margin-right: 5px;
 }

 .preview__prefooter__close {
 	margin-top: 5px;
 	margin-right: 10px;
 	color: #fff;
 	align-self: flex-end;
 }

 .preview__prefooter__content {
 	width: 90%;
 	padding: 10px;
 	margin: 20px auto;
 }

 .preview__prefooter__content__form {
 	margin: 10px auto;
 	width: 100%;
 	display: flex;
 	flex-direction: row;
 }

 .preview__prefooter__content__form .form-control {
 	width: 100%;
 	background-color: #f4f4f4;
 }

 .preview__body {
 	flex: 8 0 0;
 	width: 100%;
 	overflow: auto;
 	display: flex;
 	position: relative;
 }

 .preview__code {
 	flex: 1;
 	color: #00ff80;
 }

 .preview__code pre,
 .preview__code code {
 	margin-top: -10px;
 	padding: 0 18px 18px;
 	color: #00ff80;
 	font-family: "Roboto Mono";
 	font-weight: 300;
 	font-size: 14px;
 	line-height: 18px;
 }

 .preview__error {
 	padding: 10px;
 	overflow: auto;
 	font-family: "Roboto Mono";
 	font-weight: 500;
 	font-size: 18px;
 	line-height: 24px;
 	color: #f83e5a;
 	margin-left: 15px;
 }

 .preview__error img {
 	margin-right: 10px;
 }

 .preview__overlay {
 	background-color: rgba(0, 0, 0, 0.7);
 	z-index: 10;
 	justify-content: center;
 	align-items: center;
 	width: 100%;
 	height: 100%;
 	position: absolute;
 	display: none;
 }

 .preview__footer {
 	position: relative;
 	height: 100px;
 	background-color: #06c;
 	color: #fff;
 	display: flex;
 	align-items: center;
 	flex-direction: row;
 	justify-content: space-around;
 }

 .preview__footer_item {
 	line-height: 40px;
 	flex: 1;
 	text-align: center;
 }

 .preview__footer_item a {
 	color: #fff;
 }

 .preview__footer_item .span {
 	margin-right: 2px;
 }

 .preview__footer_item .action {
 	margin-left: 2px;
 	line-height: 24px;
 	font-size: 16px;
 }

 .preview__footer_item img {
 	height: 20px;
 	margin-right: 2px;
 }

 @media all and (max-width: 640px) {
 	.preview {
 		order: 0;
 		min-height: 100px;
 	}
 }


 /**
 BLOCKS


 .block__wrapper {
 	margin: 10px 0;
 }

 .block {
 	padding: 0 0 1em 0;
 	margin: 0;
 	display: flex;
 	flex-wrap: wrap;
 	padding: 0;
 }

 .block_heading_oval {
 	height: 40px;
 	width: 40px;
 	border-radius: 50%;
 	background-color: #06c;
 	color: #fff;
 	font-family: "Roboto Mono";
 	font-size: 21px;
 	font-weight: 500;
 	line-height: 28px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }

 .block_heading_title {
 	padding-left: 10px;
 	color: #000;
 	font-family: "Titillium Web";
 	font-size: 24px;
 	font-weight: bold;
 	line-height: 28px;
 }

 .block_heading {
 	height: 50px;
 	display: flex;
 	flex-direction: row;
 	align-items: center;
 	padding: 10px;
 }

 .block__item {
 	flex-basis: 50%;
 	display: flex;
 	flex-direction: column;
 	padding: 10px;
 }

 .block__object {
 	border-bottom: 1px solid #e8e8e8;
 	flex: 1 0 100%;
 }

 .block__array__remove {
 	top: 35px;
 }

 .block__item--full .block__array .block__array__remove {
 	top: 10px;
 	right: 20px;
 }

 .block__item--full .block__array .block {
 	color: #5c6f82;
 	background-color: #f6f8f8;
 	border-bottom: 1px solid #e8e8e8;
 }

 .block__item--full {
 	padding: 10px;
 	flex: 1 0 100%;
 	display: flex;
 	flex-direction: column;
 }




 @media all and (max-width: 640px) {
 	.block {
 		flex-flow: column;
 		flex-wrap: nowrap;
 	}

 	.block__item {
 		flex-basis: 100%;
 	}
 }

 */

 /**
 ERROR
 */
 .error-info {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	padding: 0;
 	margin: 15px;
 	width: 28px;
 	height: 28px;
 	border-radius: 50%;
 	background: #fff;
 	color: #f00;
 }


/**
 RC MULTISELECT


 .rc-collapse {
 	background-color: #fff;
 	border-radius: 3px;
 	border: 1px solid #fefefe;
 }

 .rc-collapse-anim-active {
 	transition: height 0.2s ease-out;
 }

 .rc-collapse>.rc-collapse-item {
 	border-top: 1px solid #fefefe;
 }

 .rc-collapse>.rc-collapse-item:first-child {
 	border-top: none;
 }

 .rc-collapse>.rc-collapse-item>.rc-collapse-header {
 	height: 56px;
 	line-height: 56px;
 	text-indent: 16px;
 	cursor: pointer;
 	border-bottom: 1px solid #e5e5e5;
 	background: #fff;
 }

 .rc-collapse>.rc-collapse-item>.rc-collapse-header .arrow {
 	display: inline-block;
 	content: "\20";
 	width: 0;
 	height: 0;
 	font-size: 0;
 	line-height: 0;
 	border-top: 3px solid transparent;
 	border-bottom: 3px solid transparent;
 	border-left: 4px solid #666;
 	vertical-align: middle;
 	margin-right: 8px;
 }

 .rc-collapse>.rc-collapse-item-disabled>.rc-collapse-header {
 	cursor: not-allowed;
 	background-color: #fff;
 }

 .rc-collapse-content {
 	overflow: hidden;
 	padding: 0 8px;
 	background-color: #fff;
 }

 .rc-collapse-content>.rc-collapse-content-box {
 	margin-top: 16px;
 	margin-bottom: 16px;
 }

 .rc-collapse-content-inactive {
 	display: none;
 }

 .rc-collapse-item:last-child>.rc-collapse-content {
 	border-radius: 0 0 3px 3px;
 }

 .rc-collapse>.rc-collapse-item-active>.rc-collapse-header .arrow {
 	border-left: 3px solid transparent;
 	border-right: 3px solid transparent;
 	border-top: 4px solid #fefefe;
 	margin-right: 6px;
 }

 .rc-collapse-item>.rc-collapse-header {
 	font-family: "Titillium Web";
 	font-size: 18px;
 	color: #0073e6;
 	background: #fff;
 }

 .rc-collapse>.rc-collapse-item-active>.rc-collapse-header {
 	color: #fff;
 	border-bottom: none;
 	background: #06c;
 }

 .rc-collapse>.rc-collapse-item-active>.rc-collapse-header-error {
 	color: #fff;
 	border-bottom: none;
 	background: #f83e5a;
 }
 */
/**
 RW MULTISELECT


 .rw-multiselect-input {
 	min-width: 50rem;
 	margin-left: 0.5rem;
 	margin-right: 0.5rem;
 }

 .rw-multiselect-tag-btn {
 	opacity: 60%;
 }

 .rw-multiselect-tag-btn:hover {
 	opacity: 100%;
 }

 */

 /**
 LANGUAGE SWITCHER
*/

 .language-switcher {
 	display: flex;
 	border-bottom: 1px solid #e8e8e8;
 	margin-bottom: 20px;
 	flex-flow: row wrap;
 	padding: 0 2em;
 	background: #fdfdfd;
 	min-width: 50rem;
 }

 .language-switcher__link,
 .language-switcher__item {
 	font-size: 18px;
 	color: #06c;
 	margin-right: 10px;
 	width: 150px;
 	text-align: center;
 }

 .language-switcher__link .language-switcher__item-label,
 .language-switcher__item .language-switcher__item-label {
 	display: inline-block;
 	width: 80%;
 	padding-bottom: 0.5rem;
 	cursor: pointer;
 }

 .language-switcher__link img,
 .language-switcher__item img {
 	width: 14px;
 	height: 14px;
 	cursor: pointer;
 }

 .language-switcher__item--selected {
 	border-bottom: 1px solid #06c;
 	cursor: pointer;
 }

 .language-switcher__link {
 	font-size: 18px;
 	margin-bottom: 10px;
 	color: #06c;
 }


	  /**
	 LANGUAGE FILTER
	*/

 .language-filter__dropdown {
 	padding: 0;
 	margin: 0;
 	cursor: pointer;
 }

 .language-filter {
 	margin-top: -48px;
 	width: 250px;
 	height: 400px;
 }

 .language-filter__content {
 	overflow-y: scroll;
 	height: 300px;
 }

 .language-filter__content__item {
 	color: #5c6f82;
 	font-size: 18px;
 	font-weight: 500;
 	margin-left: -10px;
 }

/**
NOTIFICATION
*/

 .notification {
 	z-index: 999999 !important;
 }
