on: [push, pull_request]

jobs:
  publiccode_validation:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: italia/publiccode-parser-action@v1
      with:
        publiccode: 'publiccode.yml'
